version: "3"
services:
  caddy:
    image: caddy:2.11.1
    container_name: caddy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    environment:
      - TZ=Etc/UTC
    volumes:
      - caddy_data:/data
      - caddy_config:/config
      - wordpress:/var/www/html
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
    depends_on:
      - wordpress
    networks:
      - inception_network

  wordpress:
    build:
      context: requirements/wordpress
      dockerfile: Dockerfile
    container_name: wordpress
    depends_on:
      - redis
      - mariadb
    env_file:
      - .env
    restart: always
    volumes:
      - wordpress:/var/www/html
    networks:
      - inception_network

  mariadb:
    build:
      context: requirements/mariadb
      dockerfile: Dockerfile
    container_name: mariadb
    env_file: .env
    restart: always
    volumes:
      - db:/var/lib/mysql
    networks:
      - inception_network

  redis:
    build:
      context: requirements/bonus/redis
      dockerfile: Dockerfile
    container_name: redis
    env_file: .env
    restart: always
    networks:
      - inception_network

  phpmyadmin:
    image: phpmyadmin:5.2.3
    container_name: phpmyadmin
    restart: always
    ports:
      - "8080:80"
    env_file:
      - .env
    depends_on:
      - mariadb
    networks:
      - inception_network

  duckdns:
    image: linuxserver/duckdns:version-33acdda4
    container_name: duckdns
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - SUBDOMAINS=${DOMAIN_NAME}
      - TOKEN=${TOKEN_DNS}
      - UPDATE_IP=ipv4
      - LOG_FILE=false
    restart: always

volumes:
  wordpress:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/${USER}/data/wordpress'
  db:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/${USER}/data/db'
  caddy_data:
  caddy_config:

networks:
  inception_network:
    driver: bridge
